@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700)

$font-stack: "Lato", Helvetica, Arial, sans-serif
  
$transition: .15s ease all
$transition-long: .3s ease all
  
$white: #fff
$lt-blue: #4e5d6c
$dk-blue: #2b3e50
$orange: #df691a

body
  color: $white
  background: $dk-blue
  font-family: $font-stack
  font-weight: 300
  font-size: 16px
  min-height: 2000px
  
a
  transition: $transition
  &:hover
  text-decoration: none

#masthead
  z-index: 10
  position: fixed
  width: 100%
  height: 300px
  background: $lt-blue
  transition: $transition-long
  
nav
  padding-top: 20px
  ul
    display: inline
  li
    display: inline
    a
      margin: 0 5px
      color: $white
  .anchors a
    padding: 10px 15px
    &:hover
      color: $orange
      text-decoration: none

hgroup
  position: relative
  transition: $transition
  padding-top: 30px
  h1
    font-weight: 300
    font-size: 4.5em
  h2
    font-size: 1.25em

#masthead.scrolled
  height: 65px
  hgroup
    opacity: 0
    transform: translateY(-75px)
  

