@charset "utf-8";
/* CSS Document */
*{
	font-family: 'Bebas Neue', cursive;
	font-family: 'Cabin Condensed', sans-serif;
	font-family: 'Work Sans', sans-serif;	
}
html, body{
	margin: 0;
	padding: 0;
	height: 100%;	
}
#container{
	width: 100%;
	height: 100vh;
	overflow-y: scroll;
	scroll-behavior: smooth;
	
}
#section1 {
	height: 100vh;
	background-image: url("../banner-2.jpg");
	background-size: cover;
	background-position: center;
	padding: 130px;
	box-sizing: border-box;	
}
.s1-text{
	color: white;
	font-size: 50pt;
	margin: auto 0;
	padding: 30px 0;
}
.scroll-page a:link {
	color:#ffffff;
	background-color:transparent;
	text-decoration:none;
}
.scroll-page a:visited {
	color:#ffffff;
	background-color:transparent;
	text-decoration:none;
}
.scroll-page a:hover {
	color:#48fe00;
	background-color:transparent;
	text-decoration:none;
}
.scroll-page a:active {
	color:#48fe00;
	background-color:transparent;
	text-decoration:none;
}

#section2 {
	height: 100vh;	
	background-image: url("../bg-experience.jpg");
	background-size: cover;
	padding: 0px 130px 130px 130px;
	box-sizing: border-box;	
}
.canle{
	display: flex;
	flex-wrap: wrap;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 0px;
}
.myskill{
	font-size: 65px;
	color: #1D9400;
	text-align: center;
}
.section40{
	height: 100vh;
	
}
.sec3-text{
	color: white;
}
.section40 h4{
	font-size: 65px;
	color: #20d60d;
	
}
.sec4-header{
	padding-top: 15px;
	display: block;
	margin: auto;
}
.job-profile{
	display: flex;
	margin: 0 auto auto auto;
	
}

.box4{
	width: 150px;
	height: 200px;
	border-radius: 15px;
	padding: 10px;
	scroll-snap-align: start;
}
.box4-1{
	background-color: #f26222;
	background-image: url("../image/section2/1.jpg");
	background-size: cover;	
	width: 150px;
	height: 200px;
}

.box4-2{
	background-color: #f26222;
	background-image: url("../image/section2/2.jpg");
	background-size: cover;	
	width: 150px;
	height: 200px;
}
.box4-3{
	background-color: #f26222;
	background-image: url("../image/section2/3.jpg");
	background-size: cover;	
	width: 150px;
	height: 200px;
}
.box4-4{
	background-color: #f26222;
	background-image: url("../image/section2/4.jpg");
	background-size: cover;	
	width: 150px;
	height: 200px;
}
.box4-5{
	background-color: #f26222;
	background-image: url("../image/section2/5.jpg");
	background-size: cover;	
	width: 150px;
	height: 200px;
}
.box4-6{
	background-color: #f26222;
	background-image: url("../image/section2/6.jpg");
	background-size: cover;	
	width: 150px;
	height: 200px;
}
.sec4-header p{
	padding-top: 10px;
	font-size: 20px;
}

.Creatory, .Optimus, .VPT, .SGD, .FL{
	padding: 0 30px 0 0;
}
.sec4-text{
	font-size: 20px;
	color:#ffffff;
	padding-top: 135px;
}
.text1{
	color: #ffffff;
	font-size: 13px;
}
.Creatory:hover{
	transform: scale(1.05);
	transition: all .2s ease;
	
}
.SGD:hover{
	transform: scale(1.05);
	transition: all .2s ease;
}
.Optimus:hover{
	transform: scale(1.05);
	transition: all .2s ease;
}
.FL:hover{
	transform: scale(1.05);
	transition: all .2s ease;
}
.VPT:hover{
	transform: scale(1.05);
	transition: all .2s ease;
}
.IU:hover{
	transform: scale(1.05);
	transition: all .2s ease;
}
.section5{
	background-image: url("bg-section5.jpg");
	background-position: center;
	height: 200px;
}
.footer{
	height: 30px;	
	color:#FFFFFF;
	padding-top: 20px;
	background-color:#030303;
	text-align: center;
	font-size: 15px;
}

.noidung{
	width: 100%;
	height: 900px;
	background-color: turquoise;
	font-size: 35pt;
	color: white;
	padding: 130px;
	box-sizing: border-box;	
}
.nav_v{
	width: 8%;
	height: 100vh;
	background:rgba(0,0,0,0.0);
	position: fixed;
	padding: 15px;
	box-sizing: border-box;
}
/*button doc*/
#main ul{
	text-align: center;
	padding-top: 80%;
	
	
	}
#main ul li{
	color: black;
	display: flex;
    align-items: center;
	font-size: 50px;
	padding: 10px 0;	
	}
#main a:link {
	color:#ffffff;
	background-color:transparent;
	text-decoration:none;
}
#main a:visited {
	color:#ffffff;
	background-color:transparent;
	text-decoration:none;
}
#main a:hover {
	color:#48fe00;
	background-color:transparent;
	text-decoration:none;
}
#main a:active {
	color:#48fe00;
	background-color:transparent;
	text-decoration:none;
}

/*menu doc*/
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	background:rgba(0,0,0,0.5);
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;

}

.sidenav a {
	padding: 8px 8px 8px 35px;
	text-decoration: none;
	font-size: 20px;
	color: #818181;
	display: block;
	transition: 0.3s;
	color: #f1f1f1;	
	font-family: 'Bebas Neue', cursive;
	font-family: 'Cabin Condensed', sans-serif;
	font-family: 'Work Sans', sans-serif;
	
}

.sidenav a:hover {
	color: #26fd00;	
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.sidenav img{
	padding: 10px;
}
#section3 {
	height: 100vh;
    background-image: linear-gradient(#2f2f30, #454645);
	padding: 180px 130px ;
	box-sizing: border-box;
	margin: 0 auto;
	
}
#section3 .founder{
	float: left;
	width: 50%;
	padding-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.header{
	color: #6bfe00;
	font-size: 45px;
}
#section3 .aboutus{
	float: right;
	width: 50%;
	display: inline-block;
	align-items: center;
	justify-content: center;
	
}
.VPT-section3{
	margin: 0 auto;
}
#section4{
	height: 100vh;	
	padding: 130px;
	box-sizing: border-box;
	background-color: #252424;
}
.sec4-header{
	width: 35%;
	float: left;
	display: inline;
	align-items: center;
	justify-content: center;
}
.sec4-header h3{
	color: #6bfe00;
	font-size: 50px;
}
.VPTstaff{	
	width: 65%;
	float: right;
	display: flex;
	align-items: center;
	justify-content: center;
}

.VPTstaff-grid{
	padding: 10px;	
}
.container{
	position: relative;
	width: 330px;
	height: auto;	
}

.image{ 
  width: 330px;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 330px;
  width: 330px;
  opacity: 0;
  transition: .5s ease;
  background-color: #3BFE00;
	
}

.container:hover .overlay {
  opacity: .75;
}

.text{
  color: #2D2D2E;
  font-size: 25px;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.VPTstaff-grid a:link {
	color:#000000;
	background-color:transparent;
	text-decoration:none;
}
.VPTstaff-grid a:visited {
	color:#ffffff;
	background-color:transparent;
	text-decoration:none;
}
.VPTstaff-grid a:hover {
	color:#ffffff;
	background-color:transparent;
	text-decoration:none;
}
.VPTstaff-grid a:active {
	color:#ffffff;
	background-color:transparent;
	text-decoration:none;
}


#main {
	transition: margin-left .5s;
	padding: 20px 0 0 8px;
	margin: 0 0 0 5px;	 
}
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/*section5-form*/
#section5{
	height: 100vh;
	padding: 130px;
	box-sizing: border-box;
	background-image: url("../aboutus/banner-aboutus1.jpg");
	background-size: cover;
	background-position: center;
}
.sec5header{
	width: 50%;
	padding-left: 20%;
	display: inline;	
	
}
#section5 p{
	color:#2E2E2E;
}


/*button doc*/
.btn {
	border: none;
	outline: none;
	padding: 5px 10px;
	margin: 20px 20px 0 20px;
	background-color: #f1f1f1;
	cursor: pointer;
	font-size: 16px;
	border-radius: 40px;
}
.active, .btn:hover {
  background-color: #666;
  color: white;
}
/*back to top*/
#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

/* Styles for the content section */

.content {
  width: 77%;
  margin: 50px auto;
  font-family: 'Merriweather', serif;
  font-size: 17px;
  color: #6c767a;
  line-height: 1.9;
}
@media (min-width: 500px) {
  .content {
    width: 43%;
  }
  #button {
    margin: 30px;
  }
}
.content h1 {
  margin-bottom: -10px;
  color: #03a9f4;
  line-height: 1.5;
}
.content h3 {
  font-style: italic;
  color: #96a2a7;
}
.button-section1{
	padding-top: 10px;
	padding-bottom: 20px;
}
.buttons a{
	color: #ffffff;
}

.buttons {
	background-color: #29FD00;
	border-radius: 10px;
	color: #000000;
	padding: 15px 30px;
	text-align: center;
	text-decoration: inherit;
	display: inline-block;
	font-size: 17px;
	border: 2px solid #29FD00;
}
.buttons1 a{
	color: #000000;
}

.buttons1{
	
	border-radius: 10px;
	padding: 15px 30px;
	text-align: center;
	text-decoration: inherit;
	display: inline-block;
	font-size: 17px;
	background-color: #565656;
	color: #000000;
	border: 2px solid #565656;
}
